<div class="menu-option">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="pills" >HOME</a>
        <a asp-area="" asp-controller="Home" asp-action="Message" class="pills" >MESSAGE</a>
        <a asp-area="" asp-controller="Home" asp-action="Photo" class="pills" >PHOTOS</a>
        <a asp-area="" asp-controller="Home" asp-action="Donation" class="pills">DONATION</a>
		<a asp-area="" asp-controller="Home" asp-action="About" class="pills" >ABOUT US</a>
</div>