<!--The content below is only a placeholder and can be replaced.-->
<div id='header-div'>
	<img src="~/images/top-left.jpg" alt='Sai Baba Image' class="img-responsive" id='image-size' />
    <div class='header-d'>
        <h1 class='header-h'>Shree Sai Baba Samagik Kalyan Trust</h1>
        <p class='address'>Sohansha , Deoria, Dist- Muzaffarpur, Bihar, India, Pincode 843120</p>
    </div>
	 <img src="~/images/top-right-image.jpg" alt='Sai Baba Image' class="img-responsive" id='image-size' />
</div>
@Html.Partial("HeaderNavigation")


