<div id='veritical-menu-bar' class='side-menu-bar '>
    <span >
        <a asp-area="" asp-controller="Side" asp-action="Saiblog" class='btn paper-flatten'>Sai Blog</a>
        <a asp-area="" asp-controller="Side" asp-action="Information" class='btn paper-flatten'>Information</a>
        <a asp-area="" asp-controller="Side" asp-action="Current" class='btn paper-flatten'>On Going Project</a>
        <a asp-area="" asp-controller="Side" asp-action="FuturePlan" class='btn paper-flatten'>Future Plan</a>
        <a asp-area="" asp-controller="Side" asp-action="Suggestion" class='btn paper-flatten'>Suggestion</a>
		<a asp-area="" asp-controller="Side" asp-action="News" class='btn paper-flatten'>News</a>
        <a asp-area="" asp-controller="Side" asp-action="Contact" class='btn paper-flatten'>Contact Us</a>
    </span>
</div>                             
                                    
