@{
  //ViewData["Title"] = "About";
  Layout="_Layout";
}
<div class='container'>
  <div class='row centered-form'>
    <div class='col-xs-10 col-sm-10'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
            <h2 class='panel-title'><strong>@ViewData["Title"]</strong></h2>
        </div>
        <div class='panel-body'>
          <form role='form'>
            <div class='row'>
              <div class='col-xs-6 col-sm-6 col-md-6'>
                <div class="form-group">
                  <label>Account Name: </label>
                  <label id='account_name' class='text-primary'>SHREE SAI BABA SAMAGIK KALYAN TRUST</label>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-xs-4 col-sm-4 col-md-4'>
                <div class='form-group'>
                  <label>Account Number: </label>
                  <label id='account_number' class='text-primary'>37054769402</label>
                </div>
              </div>
              <div class='col-xs-4 col-sm-4 col-md-4'>
                <div class='form-group'>
                  <label>IFSC CODE: </label>
                  <label id='code' class='text-primary'>SBIN0016777</label>
                </div>
              </div>
              <div class='col-xs-4 col-sm-4 col-md-4'>
                <div class='form-group'>
                  <label>Branch: </label>
                  <label id='branch' class='text-primary'>DEORIA,MUZAFFARPUR</label>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-xs-6 col-sm-6 col-md-6'>
                <div class='form-group'>
                  <label>Bank: </label>
                  <label id='bank_name' class='text-primary'>STATE BANK OF INDIA</label>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-xs-6 col-sm-6 col-md-6'>
                <div class='form-group'>
                    <label>Address</label>
                    <address>
                      <strong id='bank_address' class='text-primary'>SHREE SAI BABA SAMAGIK KALYAN TRUST</strong><br>
                        Sohasa , Deoria<br>
                        Muzaffarpur, India 843120<br>
                    </address>
                </div>
              </div>
            </div>   
              <div id='contacts' class='row'>
                <div class='col-xs-6 col-sm-6 col-md-6'>
                  <div  class='form-group'>
                    <label>Contact Person 1:</label>
                    <address>
                      <strong class='text-primary'>RAJIV RANJAN</strong><br>
                        Ph#: 9470000157<br>
                      </address>
                  </div>
                </div>
                <div class='col-xs-6 col-sm-6 col-md-6'>
                  <div class='form-group'>
                    <label>Conact Person 2:</label>
                    <address>
                      <strong class='text-primary'>SHRIKANTH PANDEY</strong><br>
                        Ph#: 9939449774<br>
                    </address>
                  </div>
                </div>
              </div>
             </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>