
div.menu-option {
    
    background-color: #663300;
    height: 35px;
}


.pills {
    display: inline-block;
    cursor: pointer;
    width: 19%;
    height: 32px;
    border-radius: 10px;
    text-align: center;
    line-height: 32px;
    font-size: 1.25vmax;
    font-weight: bold;
    background-color: #3C931E;
    color: #FFFFFF;
    margin-left:1%;
    margin-right: -3px;
  }


.content-align {
    display: flex;
    flex-direction: row;
}